.movies {
    margin: 0;
    padding: 0;
}

.movieItem {
    list-style: none;
    background-color: #eee;
    margin: 5px;
    padding: 20px;
    box-shadow: 0 0 5px #999;
}

.movieItem img,
.movieItem button {
    float: right;
    height: 25px;
    margin-left: 5px;
}

.deleteMovieIcon {
    cursor: pointer;
}